body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#2a7ae2;
color:white;
text-align:center;
padding:30px;
}

.container{
width:60%;
margin:auto;
margin-top:40px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

input, select{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:20px;
}

button{
background:#2a7ae2;
color:white;
border:none;
padding:12px;
width:100%;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1e5fb5;
}
